<table class="table table-bordered off-transactions">
    <tr>
        <th>Office Transactions</th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center new-link"><a data-toggle="modal" data-target="#transModel"
                (click)="resetSubmit(); transFrom.reset();">+ Add Transaction</a></th>
    </tr>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th class="text-center">Credit</th>
        <th class="text-center">Debit</th>
        <th class="text-center">Running Balance</th>
    </tr>
    <tr *ngFor="let transData of transDetails">
        <td>{{transData.date}}</td>
        <td>{{transData.descption}}</td>
        <td class="text-center">{{transData.credit}}</td>
        <td class="text-center">{{transData.debit}}</td>
        <td class="text-center">{{transData.runnigBalance}}</td>
    </tr>
</table>


<div class="modal fade transModel" id="transModel" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Transactions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #transFrom="ngForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group row">
                        <label for="date" class="col-sm-4 col-form-label">Date</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="date" name="date" #spy placeholder="MM/DD/YYYY" type="text"
                                #date="ngModel" [(ngModel)]="model.date" required>
                            <div [hidden]="date.valid || date.untouched" class="error">
                                Please select date.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="transType" class="col-sm-4 col-form-label">Transaction Type</label>
                        <div class="col-sm-8">
                            <select id="transType" class="form-control custom-select" name="transType"
                                #transType="ngModel" [(ngModel)]="model.transaction" required>
                                <option *ngFor="let transName of transName" [value]="transName">{{transName}}</option>
                            </select>
                            <div [hidden]="transType.valid || transType.untouched" class="error">
                                Please select any option.
                            </div>
                        </div>
                    </div>
                    <div id="credit-box" class="form-group row">
                        <label for="amount" class="col-sm-4 col-form-label">Amount</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="Credit" name="number" #number="ngModel"
                                [(ngModel)]="model.credit" required>
                            <div [hidden]="number.valid || number.untouched" class="error">
                                Please enter correct amount.
                            </div>
                        </div>
                    </div>
                    <div id="debit-box" class="form-group row">
                        <label for="amount" class="col-sm-4 col-form-label">Amount</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="Debit" name="number" #number="ngModel"
                                [(ngModel)]="model.debit" required>
                            <div [hidden]="number.valid || number.untouched" class="error">
                                Please enter correct amount.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="remBalance" class="col-sm-4 col-form-label">Running Balance</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="remBalance" name="remBalance"
                                #remBalance="ngModel" [(ngModel)]="model.runnigBalance" required>
                            <div [hidden]="remBalance.valid || remBalance.untouched" class="error">
                                Please enter correct amount.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="descp" class="col-sm-4 col-form-label">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="descp" name="descp" #descp="ngModel"
                                [(ngModel)]="model.descption" required></textarea>
                            <div [hidden]="descp.valid || descp.untouched" class="error">
                                Please enter your description here.
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary save-btn" data-dismiss="modal"
                            [disabled]="!transFrom.form.valid" (click)="onSubmit();">Save</button>
                        <button type="button" class="btn btn-secondary cancel-btn"
                            (click)="resetSubmit(); transFrom.reset();">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>